@import "tailwindcss";
@plugin "daisyui" {
  themes: corporate --default, dim --prefersdark;
}

.menu li > *:not(ul):not(.menu-title):not(details):active,
.menu li > details > summary:active {
  @apply bg-transparent;
}

.badge-success {
  background-color: color-mix(
    in oklab,
    var(--badge-color, var(--color-base-content)) 8%,
    var(--color-base-100)
  );
  border-color: color-mix(
    in oklab,
    var(--badge-color, var(--color-base-content)) 10%,
    var(--color-base-100)
  );
  color: var(--badge-color, var(--color-base-content));
}

fieldset.fieldset :focus-within {
  outline: none;
}

input[type="checkbox"]:checked {
  background: none;
}
